// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$icon-font-path: "../bower_components/flat-ui-sass/vendor/assets/fonts/flat-ui/";

// @import "../bower_components/flat-ui-sass/vendor/assets/stylesheets/flat-ui/variables";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// @import "../bower_components/flat-ui-sass/vendor/assets/stylesheets/flat-ui";


// Colors and Fonts
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

 $bodyFont: 'Ubuntu';
 $headerFontFace: 'Ubuntu';
 $blue: #2C3E50; 
 $turquoise: #1DD2AF;
 $galleryGray: #EEEEEE;
 $containerBgColor: #EAEDF2;
 $bodyBgColor: $galleryGray; 


body{
  background-color: $bodyBgColor; 
  font-family: $bodyFont; 
}