$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$icon-font-path: "../bower_components/flat-ui-sass/vendor/assets/fonts/flat-ui/";

@import "../bower_components/flat-ui-sass/vendor/assets/stylesheets/flat-ui/variables";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../bower_components/flat-ui-sass/vendor/assets/stylesheets/flat-ui";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


$bodyFont: 'Ubuntu';
$headerFontFace: 'Ubuntu';
$blue: #2C3E50; 
$turquoise: #1DD2AF;
$bodyBgColor: #EAEDF2;

body{
  font-family: $bodyFont, 'Arial';
  background-color: #EAEDF2;
  color: #2C3E50;
  font-size: 20px;
}

.container{
  background: lighten($bodyBgColor, 5%);
}

h1{
  font-family: $headerFontFace, 'Arial';
  font-size: 24px;
}

.heading h1{
  text-align: center;
  font-size: 90px;
}

img{
  text-align: center;
  margin: 0 auto;
}
.info{
  background-color: $turquoise;
  color: $blue;
  height: 290px;
}
.info h1,h2{
  color: white;
}
.sidebar-nav > .sidebar-brand a{
  color: $turquoise;
  font-size: 30px;
}

.wrapper{
  height: 100%;
}
.panel.panel-default{
  background-color: #FFFFFF;
}
.panel.panel-default h1, .header h1{
  text-align: center;
}

.panel-default > .panel-heading{
  background-color: $blue;
  color: white;
}

.header h1{
  font-size: 90px;
  padding: -10px;
}

ul{
  // padding: 20px;
}

#sidebar-wrapper{
  background: #2C3E50;
}

.topics li:hover{
  font-size: 22px;
  color: turquoise;
}

.badge.urgent{
  background-color: red;
}

.badge.on-track{
  background-color: #1DD2AF;
}

.badge.soon{
  background-color: yellow;
}


