

        <!-- Sidebar -->
<!--         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        readmeplease
                    </a>
                </li>
                <li>
                    <a href="#">Ruby</a>
                </li>
                <li>
                    <a href="#">JavaScript</a>
                </li>
                <li>
                    <a href="#">Animation</a>
                </li>
                <li>
                    <a href="#">Interaction Design</a>
                </li>
                <li>
                    <a href="#">Elixir</a>
                </li>
                <li>
                    <a href="#">Concurrency</a>
                </li>
            </ul>
        </div> -->
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header"><a class="navbar-brand">ReadList</a></div>
            </div>
          </nav>
            <div class="container">
              <div class="heading">
                <!-- <h1><span class="accent">Read</span>List</h1> -->
              </div>
              <div class="row">
              </div>
              <div class="row">

                <div class="col-md-9">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                    Reading Queue
                    </div>
                      <div class="panel-body">
                       <form class="form-inline float-right">
                            <div class="form-group has-feedback">
                             <div class="input-group">
                                <input type="text" value="" placeholder="Search Items" class="form-control" />
                               <span class="form-control-feedback fui-search"></span>
                             </div>
                            </div>
                            <!--/.form-group--> 

                            <a class="btn btn-primary" href="#">Add Item</a>
                          </form> 
                    <br>
                    <!-- table -->
                    <table class="table table-striped">
                      <tr>
                        <th>Title</th>
                        <th>Tags</th>
                        <th>Progress</th>
                      </tr>
                      <tr>
                        <td>Html5 in Action</td>
                        <td><a>html5</a>, <a>apis</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Learning D3</td>
                        <td><a>d3</a>, <a>dataviz</a>, <a>javascript</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Introducing Elixir</td>
                        <td><a>elixir</a>, <a>functional_programming</a></td>
                        <td></td>
                      </tr>
                    </table>
                      
                    </div>
                  </div>
                </div>
   
                <div class="col-md-3">
                  <div class="panel panel-default colorized">
                    <div class="panel-heading">
                      Resource Info
                    </div>
                    <div class="panel-body">
                      <table class="table table-striped">
                        <tr>
                          <td>Title:</td>
                          <td>HTML5 in Action</td>
                        </tr>
                        <tr>
                          <td>URL:</td>
                          <td>http://amazon.com</td>
                        </tr>
                        <tr>
                          <td>Tags: </td>
                          <td>html5, apis</td>
                        </tr>
                        <tr>
                          <td> Progress: </td>
                          <td>100/200p <i> 50%</i></td>
                        </tr>
                        <tr>
                          <td>Due Date:</td>
                          <td>10/1/15</td>
                        </tr>
                        <tr>
                          <td>Notes:</td>
                          <td>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                          </td>
                        </tr>
                      </table>
<!--                     <p><span class="res-attr"><b>Title:</b></span> HTML5 in Action</p>
                    <p><span class="res-attr">URL:</span> <a>http://www.amazon.com/html</a>
                    <p> <span class="res-attr">Tags</span>: html5, apis </p>
                    <p> <span class="res-attr">Due Date:</span> 1/15/2015</p>
                    <p> <span class="res-attr">Progress:</span> 100/200p <i>(50%)</i> </p> -->
                    </div>
                  </div>
                </div>


               </div>

              
            <!-- container -->
              </div>
              
    <!-- /#page-content-wrapper -->
