  <div id="wrapper">

        <!-- Sidebar -->
<!--         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        readmeplease
                    </a>
                </li>
                <li>
                    <a href="#">Ruby</a>
                </li>
                <li>
                    <a href="#">JavaScript</a>
                </li>
                <li>
                    <a href="#">Animation</a>
                </li>
                <li>
                    <a href="#">Interaction Design</a>
                </li>
                <li>
                    <a href="#">Elixir</a>
                </li>
                <li>
                    <a href="#">Concurrency</a>
                </li>
            </ul>
        </div> -->
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="header">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h1>Currently Reading</h1>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item">20 Best Web Fonts from Google Web Fonts... <span class="badge urgent">10/1/15</span></li>
                      <li class="list-group-item">Article Name <span class="badge soon">11/1/15</span>
                      </li>
                      <li class="list-group-item">Article Name <span class="badge on-track">12/1/15</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h1>Topic Priorities</h1>
                    </div>
                    <ul class="list-group topics">
                      <li class="list-group-item">Ruby</li>
                      <li class="list-group-item">JavaScript</li>
                      <li class="list-group-item">Interaction Design</li>
                      <li class="list-group-item">Hadoop</li>
                      <li class="list-group-item">Natural Language Processing</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h1> Reading Queue </h1>
                </div>
                <div class="col-md-4">
                  <form class="form-inline float-right">
                    <div class="form-group has-feedback">

                     <!-- <input type="search" class="form-control" placeholder="Search + Enter" />-->

                     <div class="input-group">
                        <input type="text" value="" placeholder="With icon" class="form-control" />
                       <span class="form-control-feedback fui-search"></span>
                     </div>
                    </div>
                    <!--/.form-group--> 

                    <a class="btn btn-primary" href="#">Add Thing</a>
                  </form>               
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-striped">
                    <tr>
                      <th>Title</th>
                      <th>Tags</th>
                      <th>Due Date</th>
                      <th>Progress</th>
                      <th>Notes</th>
                    </tr>
                    <tr>
                      <td>Html5 in Action</td>
                      <td>html5, apis</td>
                      <td>10/1/15</td>
                      <td>10/100</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Introducing Elixir</td>
                      <td>elixir, functional_programming</td>
                      <td>10/1/15</td>
                      <td>10/200</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Learning D3</td>
                      <td>d3, dataviz, javascript</td>
                      <td>10/1/15</td>
                      <td>10/300</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
